@tailwind base;
@tailwind utilities;
@tailwind components;

.grey-text {
    color: #808080;
}

.pseudopia-bg-color {
    background-color: #2d2d2d;
}

.pseudopia-link {
    color: chartreuse;
}

.pseudopia-link:hover {
    text-decoration: underline;
}

.pseudopia-btn {
    color: chartreuse;
    border: 1px solid chartreuse;
    background-color: #2d2d2d;
}

.pseudopia-btn:hover {
    border: 1px solid chartreuse;
    background-color: rgba(100, 199, 0, .2);
}

.pseudopia-green-fill {
    fill: chartreuse;
}